<table class="indexPage">
	<thead>
	    <th>#Id</th>
		<th>Title</th>
		<th>Description</th>
		<th>Link</th>
		<th>Status</th>
	    <th>Actions</th>	
	</thead>
	<tbody>
		<% @story.each do |s| %>
			<tr>
			    <td><%= s.id %></td>
				<td><%= s.name %></td>
			    <td><%= s.description %></td>
			    <td><%= s.link %></td>
			    <td><%= s.isposted %></td>
			    <td><%= link_to 'Edit' , edit_story_path(s) %>
	            <%= link_to 'Destroy' , s, method: :delete , data: { confirm: 'Are you sure'}%>
	            <%= link_to 'Show' , s %></td>
			</tr>
		<% end %>
	</tbody>
</table>
<%= link_to 'New Story', new_story_path %>
