<table>
<thead>
    <th>#Id</th>
	<th>Title</th>
	<th style=" width:400px; ">Description<th>
	<th>Link</th>
	<th>Status</th>
    <th colspan="3"></th>
	
</thead>
	<tbody>
		<% @story.each do |s| %>
		<tr>
		    <td><%= s.id %></td>
			<td><%= s.name %></td>
		    <td style=" width: 400px; "><%= s.description %></td>
		    <td><%= s.link %></td>
		    <td><%= s.isposted %></td>

		    <td><%= link_to 'Edit' , edit_story_path(s) %></td>
            <td><%= link_to 'Destroy' , s, method: :delete , data: { confirm: 'Are you sure'} %></td>
            <td><%= link_to 'Show' , s %></td>
		</tr>
		<% end %>
	</tbody>
</table>
<%= link_to 'New Story', new_story_path %>
