<span id="vote_score">
Score: <%= @story.votes.size %>
</span>
<p>
  <strong>Name:</strong>
  <%= @story.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @story.description %>
</p>

<p>
  <strong>Link:</strong>
  <%= @story.link %>
</p>

<p>
  <strong>Isposted:</strong>
  <%= @story.isposted %>
</p>
<div id="vote_form">
  <%= form_tag (story_votes_path(@story.id)), :remote => true, method: :post do %>
      <%= submit_tag 'shove it' %>
  <% end %>

</div>
<%= link_to 'Edit', edit_story_path %>
<%= link_to 'Back', stories_path %>